.scald-menu .add-buttons .add-chart {
  background: url("images/datawrapper-icon.png") no-repeat scroll 50% 50% transparent;
}

.scald-menu .add-buttons .add-chart:hover {
  background: url("images/datawrapper-icon-color.png") no-repeat scroll 50% 50% transparent;
}
